<p>menu page</p>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.javainuse.com" class="navbar-brand">SHOESTORE</a></div>

        <ul class="navbar-nav">
            <li><a  class="nav-link" routerLink="/shop"  >Shop</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a routerLink="/adminusers" class="dropdown-item">Users</a>
                    <a routerLink="/shoeusers" class="dropdown-item">Shoes</a>
                </div>
                
           
        </ul>


    </nav>
</header>